<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>    
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/vue.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:2008/agent/html/resafety.js"></script>
    <script type="text/javascript" src="/javascripts/service_interface.js"></script>
	<script type="text/javascript" src="/javascripts/func.js"></script>
    <style type="text/css">
      body {
       padding: 10px;}       
    </style>
    <script type="text/javascript">

    	var midlines;
      function init(){
      //var json= '<%- locals.ssids %>';
        midlines= '<%- JSON.stringify(midlines) %>';
        midlines=JSON.parse(midlines);
        var ul=document.getElementById("midline_ul");
        vue_update(midlines[0]);
        create_li(midlines,ul,1);
    };
    function create_li(sons,ul,n){
      for (var i = 0; i < sons.length; i++) {
          var ele_li=document.createElement("li");
          //ele_li.setAttribute("class","enter_li_grade"+n);
          ele_li.setAttribute("onclick","show_line_info(this)");
          ele_li.innerHTML=sons[i].name;
          ul.appendChild(ele_li);          
      };
  	};
  	function show_line_info(ev){
  		 midlines.forEach(function(line){
        if (line.name==ev.innerHTML) {
          vue_update(line);
          return;
          }
        });
  	};
  	function vue_update(data)
    {
      vue.name=data.name;
      vue.lon=data.f_lon;
      vue.lat=data.f_lat;
      vue.height=data.f_height          
    };
    </script>
   </head>  
  <body onload="init()">	
  <%include nav %>	
	<div class="sidebar-box">
      <ul id="midline_ul">   
      </ul> 
    </div>
    <div class="content_page">
    	<div id="pipe_page">
			 <span style="color:orange;text-align: left; width:80px;display:inline-block" >线路名称</span>
	        <input type="text" name="line_name" v-model="name"><br>
	        <span style="color:orange;text-align: left; width:80px;display:inline-block" >经度</span>
	        <input type="text" name="lon" v-model="lon"><br>
	         <span style="color:orange;text-align: left; width:80px;display:inline-block">纬度</span>
	        <input type="text" name="lat" v-model="lat"><br>
	        <span style="color:orange;text-align: left; width:80px;display:inline-block">高程</span>
	        <input type="text" name="height" v-model="height"><br>
		</div>

    </div>
<script type="text/javascript">
    var vue=new Vue({
          el:'#pipe_page',
          data:{
            name:"",
            lon:"",
            lat:"",
            height:""
          }
        });  
</script>
  </body>
</html>
