<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>    
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
    <style type="text/css">
      body {
       padding: 10px;}

.out_table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
.out_table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #0000ff;
}
.out_table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #00ff00;
	background-color: #ffffff;
}


    </style>
    <script type="text/javascript">
    var selObj=document.createElement("select");
    		selObj.setAttribute("onchange","changSel()");
    var selTr=document.createElement("tr");
    var excelObj;
    	function fileSelected(){
	    	//var obj=document.getElementById('file-id');
	    	var file=document.getElementById('file-id').files[0];
	    	if (file) {
	    		var fileSize=0;
	    		if (file.size>1024*1024) {
	    			fileSize=(Math.round(file.size*100/(1024*1024))/100).toString()+'MB';
	    		}else {
	    			fileSize=(Math.round(file.size*100/1024)/100).toString()+'KB';
	    		}
	    		//$('#fileName').html('Name:'+file.name);
	    		$('#fileSize').html('Size:'+fileSize);
	    		$('#fileType').html('Type:'+file.type);
	    		$("#sub-btn").show();	    		
	    	}
	    }
	    function uploadFile(){

	    	
			 var files = $('#file-id').prop('files');
			 
			 var data = new FormData();
			data.append('func', 'upfile');
			 data.append('upfile', files[0]);
			var xhr=new XMLHttpRequest();
			xhr.upload.addEventListener("progress",uploadProgress,false);
	    	xhr.addEventListener("load",uploadComplete,false);
	    	xhr.addEventListener("error",uploadFailed,false);
	    	xhr.addEventListener("abort",uploadCanceled,false);
	    	xhr.open("POST","/upload");
	    	xhr.send(data);


	    };
	    function uploadProgress(evt){
	    	if (evt.lengthComputable) {
	    		var percentComplete=Math.round(evt.loaded*100/evt.total);
	    		$('#progressNumber').html(percentComplete.toString()+'%');

	    	}else{
	    		$('#progressNumber').html('无法计算');
	    	}
	    }
	    function uploadComplete(evt){

	    	document.getElementById("excel").innerHTML=evt.target.responseText;		    		
				//$("table").append(tr);
			$("#db").show();
			selTr.innerHTML="";
			//var trObj=document.createElement("tr");
			$("tbody tr:eq(0)").children().each(function(){
				var tdObj=document.createElement("td");
				if ($(this).attr("colspan")!=undefined) {
					tdObj.setAttribute("colspan",$(this).attr("colspan"));
				}				
				var idAttr=$(this).attr("id");
				if (idAttr!=undefined) {
					idAttr=idAttr.substring(0,idAttr.length-1)+'0';
					tdObj.setAttribute("id",idAttr);
				}				
				//tdObj.setAttribute("onclick","updateSel(this)");
				tdObj.innerHTML=selObj.outerHTML;
				selTr.appendChild(tdObj);
			});				
			$("tbody tr:eq(0)").before(selTr);

	    }
	    function updateSel(e){
	    	e.innerHTML=selObj.outerHTML;
	    }
	    function changSel(e)
	    {
	    	if(e&&e.stopPropagation){//非IE
		　　e.stopPropagation();
		　　}
		　　else{//IE
		　　window.event.cancelBubble=true;
　　}        
	    }
	    function uploadFailed(evt){
	    	alert("文件上传错误");
	    }
	    function uploadCanceled(evt){
	    	alert("上传被用户取消或浏览器断开连接");
	    }
	    function initUpload(){
	    	$("#sub-btn").hide();
	    	$("#db").hide();
	    	
	    }
	    function readDBTable(){
	    	var strTableName=$("#table_name").attr("value");
	    	var inputObj=document.getElementById("table_name");
	    	strTableName=inputObj.value;
	    	if (strTableName!="undefinded") {
	    		var data = new FormData();
	    		data.append('func', 'readDB');
				data.append('table_name', strTableName);
				var xhr=new XMLHttpRequest();
				xhr.upload.addEventListener("progress",uploadProgress,false);
		    	xhr.addEventListener("load",readDBComplete,false);
		    	xhr.addEventListener("error",uploadFailed,false);
		    	xhr.addEventListener("abort",uploadCanceled,false);
		    	xhr.open("POST","/upload");
		    	xhr.send(data);

	    	}
	    }
	    var rs=[];
	    function readDBComplete(evt){
	    	//console.log(evt.target.response);
	    	rs=JSON.parse(evt.target.response);
	    	
	    	selObj.options.length=0; 
	    	selObj.options.add(new Option("丢弃","invalid"));
	    	for (var i = 0; i < rs.length; i++) {
	    		//添加一个选项 
				//selObj.add(new Option("文本","值")); //这个只能在IE中有效 
				selObj.options.add(new Option(rs[i].F_FLD_NAME,rs[i].F_FLD_NAME)); //这个兼容IE与firefox 
				$(selObj.options[selObj.options.length-1]).attr("dbType",rs[i].F_FLD_TYPE);
				$(selObj.options[selObj.options.length-1]).attr("dbLength",rs[i].F_LENGTH);
	    	}
	    	//console.log(selObj);
	    	var i=0;
	    	$(selTr).children().each(function(){
	    		if (i>0) {
	    			selObj.options[i-1].removeAttribute("selected");
	    		}
	    		if (i>=selObj.options.length) 
	    			i=0;	    		
	    		selObj.options[i+1].selected=true;
	    		selObj.options[i+1].setAttribute("selected","selected");
	    		i++;
	    		if ($(this).attr("id")!=undefined) {
	    			this.firstChild.outerHTML=selObj.outerHTML;
	    		};
	    	});
	    }
	    function readDBFailed(){
	    	
	    }
	    function readDBCanceled(){
	    	
	    }
	    function importDB()
	    {
	    	var importData={};
	    	var inputObj=document.getElementById("table_name");
	    	strTableName=inputObj.value;
	    	importData["table_name"]=strTableName;
	    	var fields=[];
	    	//var mapExcel={};
	    	//var mapType={};
	    	var arrFeature=[];	    	  	
	    	$("tbody tr:eq(0)").children().each(function(){
	    		var sunSel=this.firstChild;	    		
	    		var  index=sunSel.selectedIndex;
	    		var idAttr=$(this).attr("id");	    		
				if (idAttr!=undefined) {
					idAttr=idAttr.substring(0,idAttr.length-1)+'1';
					var nextRow=document.getElementById(idAttr);
					var vKey=sunSel.options[index].value;
					var field_features={};
					field_features["name"]=vKey;
					field_features["type"]=$(sunSel.options[index]).attr("dbtype");
					field_features["length"]=$(sunSel.options[index]).attr("dbLength");
					field_features["excel"]=nextRow.innerText;				
					fields.push(field_features);
					//mapExcel[vKey]=nextRow.innerText;	
					//mapType[vKey]=$(sunSel.options[index]).attr("dbtype");
				}		    		
			});	
			importData["fields"]=fields;
			//importData["field_excel"]=mapExcel;
			//importData["field_type"]=mapType;
	    	var nRow=0;
	    	var sonLength=$("tbody").children().length;
	    	for (var i = 0; i < sonLength; i++) {
	    		var sonObj=$("tbody").children()[i];
	    		if (nRow>1) {
	    			var feature={};	  
	    			$(sonObj).children().each(function(){
		    			var idAttr=$(this).attr("id");	    		
						if (idAttr!=undefined) {
							idAttr=idAttr.substring(0,idAttr.length-1)+'0';
							var dbtr=document.getElementById(idAttr);
							if (dbtr!=undefined) {
								dbSel=dbtr.firstChild;
								var  index=dbSel.selectedIndex;
								feature[dbSel.options[index].value]=this.innerText;
							}
						}		    			
					});	
					arrFeature.push(feature);	
	    		}
	    		nRow++; 	    		
	    	}		
	    	importData["features"]=arrFeature;
	    	console.dir(importData);
	    	var data = new FormData();
	    		data.append('func', 'upData');
				data.append('import_data',JSON.stringify(importData));
				var xhr=new XMLHttpRequest();
				xhr.upload.addEventListener("progress",uploadProgress,false);
		    	//xhr.addEventListener("load",readDBComplete,false);
		    	//xhr.addEventListener("error",uploadFailed,false);
		    	//xhr.addEventListener("abort",uploadCanceled,false);
		    	xhr.open("POST","/upload");
		    	xhr.send(data);

	    }
	     

    </script>
  </head>  
  <body onload="initUpload()">	
  <%include nav %>
	<div id="process-table">
		<from id="process-form" enctype="multipart/form-data" method="post" action="/upload">
			<div class="row">
				<input type="file" id="file-id" name="file" onchange="fileSelected();">
				<span id="fileSize"></span>
				<span id="fileType"></span>
				<input type="button" id="sub-btn" value="读取" onclick="uploadFile()">	
				<span id="progressNumber"></span>
			</div>		
		
			
		</from>
		<!--
		<div class="progress">
			<div class="bar"></div>
			<div class="percent">0%</div>
		</div>
		
		<div id="status"></div>
		-->
		<div class="db" id="db">			
			<input id="table_name" type="text" value="输入表名称..." onfocus="if(this.value==defaultValue){this.value=''}" onblur="if(this.value==''){this.value=defaultValue}">
			<button onclick="readDBTable()">读取数据库</button>
			<button onclick="importDB()">入库</button>
		</div>
	</div>
	<div id="excel"></div>
  
  </body>
</html>
